.grid-body{
    position: absolute;
    display: grid;
    column-gap: 25px;
    row-gap: 20px;
    margin-left: 20px;
    grid-template-columns: 350px 350px 350px 350px;
    padding-bottom: 40px;
    top: 150px;
}
.card{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    font-family: Roboto;    
}
img{
    width: 350px;
    height: 280px;
    border-radius: 10px;
    transition: 0.25s;
}
.rotate-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border-radius: 10px;
}
.card:hover .rotate-container{
    transform: rotateY(180deg);
    box-shadow: 1px 1px 5px 5px #c9f; 
}
.card-front, .card-back{
    position: absolute;
    width: 100%;  
    height: 100%; 
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}
.card-back{
    transform: rotateY(180deg);
}
.card-title{
    font-size: 25px;
    padding-left: 5px;
    text-align: center;
    margin: 70px 30px 50px 30px;
}
.card-stats{
    position: absolute;
    float: right,bottom;
    font-size: 20px;
    color: #666;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 12px;
    bottom: 10px;
    right: 0;
}
#stat-like{
    margin-left: 40px;
}
#stat-download{
    margin-left: 40px;
}
#global-preference{
    float: right;
    margin: 30px 30px 0 0;
}
#space{
    margin-right: 30px;
}
.author ul{
    list-style-type: disc;
}
.footer{
    position: fixed;
    bottom: 0;
    background-color: white;
    padding: 5px 20px 5px 20px;
    width: 100%;
}
.heart img{
    width: 90px;
    height: 75px;
    margin-left: 120px;
}
